@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  width: 1550px;
  margin: 0 auto;
}

@media (max-width: 1550px) {
  .container {
    width: calc(1550px * 0.8);
  }
}

@media (max-width: 1240px) {
  .container {
    width: calc(1240px * 0.8);
  }
}

@media (max-width: 992px) {
  .container {
    width: calc(992px * 0.8);
  }
}

@media (max-width: 794px) {
  .container {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h2 {
  text-transform: lowercase;
}

section > div:not(.middle) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section > div:not(.middle) .content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section > div:not(.middle) .content h2 {
  font-size: 2.6rem;
  margin-bottom: 0.5em;
  color: #64d8ff;
}

section > div:not(.middle) .content p {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

nav {
  background-color: #07a9df;
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 5%;
}

nav .logo {
  font-size: 1.8rem;
  font-weight: 300;
}

nav .drop_down {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .drop_down ul {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .drop_down ul li {
  margin: 0 1em;
}

nav .drop_down .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .drop_down .right > div {
  margin-right: 15px;
}

nav .drop_down .right > div:last-child {
  margin-right: 0;
}

nav .drop_down .right > a {
  margin-right: 15px;
}

nav .drop_down .right .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .drop_down .right .socials a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

nav .drop_down .right .socials a img {
  display: block;
  width: 100%;
}

nav .drop_down .right .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .drop_down .right .shop .items {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
}

nav .drop_down .right .langs span.active {
  color: #64d8ff;
}

nav .burger {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
}

nav .burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #e5e5e5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}

nav .burger span::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

nav .burger span::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

@media (max-width: 1200px) {
  nav {
    position: relative;
  }
  nav .drop_down {
    position: absolute;
    top: 100%;
    right: 0;
    background: #07a9df;
    padding: 25px 40px;
    z-index: 2050;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
  }
  nav .drop_down.show_menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav .drop_down ul {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
    display: block;
  }
  nav .drop_down ul li {
    margin: 0 0 5px 0;
  }
  nav .drop_down ul li a {
    font-size: 1.3rem;
  }
  nav .drop_down .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  nav .drop_down .right .socials {
    margin: 10px 0;
  }
  nav .drop_down .right .socials a:last-child {
    margin-right: 0;
  }
  nav .drop_down .right .langs {
    margin-top: 10px;
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
  nav .burger.burger_fix {
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: #07a9df;
    z-index: 3030;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(229, 229, 229, 0.6);
            box-shadow: 0 0 5px rgba(229, 229, 229, 0.6);
  }
}

section.hero {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

section.hero .middle {
  position: absolute;
  z-index: 1030;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.hero .right {
  position: relative;
}

section.hero .right .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #00b2e3;
  z-index: 1010;
}

section.hero .right img {
  position: relative;
  z-index: 1020;
  display: block;
  width: 70%;
  margin: 0 auto;
}

section.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.aboutUs .left img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section.aboutUs .right .content h2 {
  color: #005487;
}

section.aboutUs .right .content p {
  color: #005487;
}

footer {
  background: #005487;
  color: #e5e5e5;
  padding: 80px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container article .top {
  margin-bottom: 30px;
  width: 100%;
}

footer .container article .top h2 {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  margin-bottom: 1em;
}

footer .container article .top p {
  margin-bottom: 10px;
}

footer .container article .top form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container article .top form input {
  background-color: transparent;
  padding: 0.3em 0.8em;
  font-size: 1.1rem;
  border: 1px solid #64d8ff;
  color: #64d8ff;
  border-radius: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

footer .container article .top form button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #64d8ff;
  border-left: none;
  color: #e5e5e5;
  font-size: 1.1rem;
}

footer .container article .top ul li {
  margin-bottom: 10px;
}

footer .container article .top ul li:last-child {
  margin-bottom: 0;
}

footer .container article .middle {
  margin-bottom: 30px;
}

footer .container article .middle a {
  display: block;
}

footer .container article .blue {
  color: #64d8ff;
}

@media (max-width: 1240px) {
  footer .container {
    padding: 0 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  footer .container article:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 500px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  footer .container article:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
/*# sourceMappingURL=style.css.map */